# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
*.egg-info/

# Node.js
node_modules/
dist/

# Локальные данные и секреты
*.db
*.sqlite3
.env

# Файлы IDE и ОС
.vscode/
.idea/
.DS_Store
Thumbs.db
